<div class="card">
  <div class="card-header">
    <h3>Welcome to <%= @course.name %>!</h3>
  </div>
  <div class="card-body">
    <p>
      <%= @course.description %>
    </p>
  </div>
</div>
<p></p>

<% if current_user.role == "teacher" %>
  <a class="btn btn-primary btn-lg" <%= link_to 'Create chapter', "/courses/"+@course.id.to_s+"/new_chapter" %></a>
  <p></p>
<% end %>

<% @chapters.each do |c| %>
  <% if c.id_course == @course.id %>
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title"><%= link_to c.name, c %></h5>
      <p class="card-text"><%= c.description %></p>
      <a href="#" class="btn btn-primary">Button</a>
    </div>
  </div>
  <p></p>
    <% end %>
<% end %>

<%= link_to "Back", :back, class: "btn btn-secondary" %>