<% if current_user.role == "teacher" %>
<div class="card">
  <div class="card-header">
    <h4>Edit Chapter</h4>
  </div>
  <div class="card-body">

    <%= form_for @chapter, method: :patch, local: true do |form| %>

      <div class="field form-group">
        <% form.label :name %><br />
        <%= form.text_field :name, autofocus: true, autocomplete: "name", class:"form-control", placeholder:"Name" %>
      </div>
      <p></p>

      <div class="field form-group">
        <% form.label :description %><br />
        <%= form.text_area :description, autofocus: true, autocomplete: "description", class:"form-control", placeholder:"Description" %>
      </div>
      <p></p>

      <div style="display: none;">
        <%= form.text_field :teacher_updated_id, value: current_user.id %>
      </div>

      <div class="actions">
        <%= form.submit "Update", class:'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
<p></p>
<%= link_to "Back", :back, class: "btn btn-secondary" %>