<% if current_user.role == "teacher" %>

  <div>
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>School ID</th>
        <th>Teacher ID</th>
        <th>Course ID</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <% @chapter.each do |c| %>
        <tr>
          <th><%= c.id %></th>
          <th><%= link_to c.name, c %></th>
          <th><%= c.description %></th>
          <th><%= c.school_id %></th>
          <th><%= c.teacher_id %></th>
          <th><%= c.id_course %></th>
          <th><%= link_to 'Edit', edit_chapter_path(c) %></th>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= link_to "Back", :back, class: "btn btn-secondary" %>